<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testForGetHup.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5DA54B1C1ED3EEE900B6ACA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DA54B301ED3EEE900B6ACA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DA54B3B1ED3EEE900B6ACA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
